{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "classes": true,
      "defaultParams": true
    }
  },
  "rules": {
    "no-const-assign": 1,
    "no-extra-semi": 0,
    "semi": 0,
    "no-fallthrough": 0,
    "no-empty": 0,
    "no-mixed-spaces-and-tabs": 0,
    "no-redeclare": 0,
    "no-this-before-super": 1,
    "no-undef": 0,
    "no-unreachable": 1,
    "no-use-before-define": 0,
    "constructor-super": 1,
    "curly": 0,
    "eqeqeq": 0,
    "func-names": 0,
    "valid-typeof": 1,
    "no-param-reassign": ["error", {
      "props": false
    }],
    "arrow-parens": ["error", "always"],
    "radix": "off",
    "no-plusplus": "off",
    "no-console": "off",
    "multiline-ternary": "off",
    "no-nested-ternary": "off",
    "no-useless-escape": "off",
    "no-inner-declarations": "off",
    "guard-for-in": "off",
    "no-restricted-syntax": "off",
    "prefer-destructuring": "off",
    "import/no-named-as-default": "off",
    "import/no-cycle": "off",
    "no-underscore-dangle": "off",
    "camelcase": "off",
    "no-bitwise": "off",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react-hooks/rules-of-hooks": "error",
    "quotes": [2, "single", {
      "avoidEscape": true,
      "allowTemplateLiterals": true
    }],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 100,
        "arrowParens": "always",
        "semi": false
      }
    ],
    "class-methods-use-this": ["error", {
      "exceptMethods": [
        "render",
        "getInitialState",
        "getDefaultProps",
        "getChildContext",
        "componentWillMount",
        "componentDidMount",
        "componentWillReceiveProps",
        "shouldComponentUpdate",
        "componentWillUpdate",
        "componentDidUpdate",
        "componentWillUnmount"
      ]
    }]
  },
  "plugins": ["react", "react-hooks", "prettier"],
  "extends": ["airbnb-base", "prettier", "prettier/react"]
}