.kc-button
  font-body()
  display: inline-block
  text-align: center
  cursor: pointer
  font-size: 1em
  appearance: none
  color: $dark-blue
  text-decoration: none
  border: 2px solid $gray
  border-radius: 4px
  background-color: $white
  padding: 0.5em 1em
  padding-top: calc(0.5em - 2px) // because border will push the content 2px down from middle
  transition: 150ms ease-in-out
  &:hover, &:focus
    outline: none
    border-color: $blue
    color: $blue

buttonColors = {
  "default": {
    "background": $orange,
    "color": $white,
    "darken": 5
  },
  "primary": {
    "background": $orange,
    "color": $white,
    "darken": 5
  },
  "instagram": {
    "background": $instagram-purple,
    "color": $white,
    "darken": 5
  },
  "blue": {
    "background": $blue,
    "color": $white,
    "darken": 5
  },
  "green": {
    "background": $green,
    "color": $white,
    "darken": 5
  },
  "red": {
    "background": $red,
    "color": $white,
    "darken": 5
  },
  "yellow": {
    "background": $yellow,
    "color": $dark-blue,
    "darken": 10
  },
  "orange": {
    "background": $orange,
    "color": $white,
    "darken": 5
  },
  "gray": {
    "background": $gray,
    "color": darken($gray, 30%),
    "darken": 5
  },
  "white": {
    "background": $white,
    "color": $dark-blue,
    "darken": 5
  },
  "darkBlue": {
    "background": $dark-blue,
    "color": $white,
    "darken": 5
  },
  "warmGray1": {
    "background": $warm-gray-1,
    "color": $dark-blue,
    "darken": 5
  },
  "warmGray2": {
    "background": $warm-gray-2,
    "color": $dark-blue,
    "darken": 5
  },
  "lightBlue": {
    "background": $light-blue,
    "color": $dark-blue,
    "darken": 5
  },
  "purple": {
    "background": $purple,
    "color": $white,
    "darken": 5
  },
  "lightPink": {
    "background": $light-pink,
    "color": $dark-blue,
    "darken": 5
  },
  "lightGreen": {
    "background": $light-green,
    "color": $dark-blue,
    "darken": 5
  },
  "textGray1": {
    "background": $text-gray-1,
    "color": $white,
    "darken": 10
  },
  "textGray1Hover": {
    "background": $text-gray-1-hover,
    "color": $white,
    "darken": 10
  },
  "textGray2": {
    "background": $text-gray-2,
    "color": $white,
    "darken": 5
  },
  "textGray2Hover": {
    "background": $text-gray-2-hover,
    "color": $white,
    "darken": 5
  },
  "textGray3": {
    "background": $text-gray-3,
    "color": $white,
    "darken": 5
  },
  "textGray3Hover": {
    "background": $text-gray-3-hover,
    "color": $white,
    "darken": 5
  }
}

for col in buttonColors
  .kc-button--{col}
    bg = buttonColors[col]["background"]
    c = buttonColors[col]["color"]
    dark = buttonColors[col]["darken"] + '%'
    background-color: bg
    border-color: bg
    color: c
    &:hover, &:focus
      background-color: darken(bg, dark)
      border-color: darken(bg, dark)
      color: c

.kc-button--outline
  background-color: $white
  border: 2px solid
  color: unset

for col in buttonColors
  .kc-button--outline.kc-button--{col}
    bg = buttonColors[col]["background"]
    c = buttonColors[col]["color"]
    color: bg
    &:hover, &:focus
      color: c

.kc-button--big, .kc-button--sizeBig
  font-size: 1.3em

.kc-button--small, .kc-button--sizeSmall
  font-size: 0.875em
  padding: 0.5em 0.75em

.kc-button--rounded
  border-radius: 10em

.kc-button--straight
  border-radius: 0

.kc-button--noBorder
  border: none

.kc-button--caps
  text-transform: uppercase
  font-weight: 700

.kc-button--disabled, .kc-button[disabled], .kc-button--disabled[disabled]
  color: $text-gray-1
  border-color: $gray
  background-color: $gray
  cursor: not-allowed
  &:hover, &:focus
    color: $text-gray-1
    border-color: $gray
    background-color: $gray

.kc-button--plain
  display: inline-block
  padding: 0
  background-color: transparent
  border: none
  border-bottom: 2px solid transparent
  border-radius: 0
  color: unset
  &.kc-button--disabled, &.kc-button[disabled], &.kc-button--disabled[disabled]
    color: $text-gray-1
    border-color: transparent
    background-color: transparent
    &:hover, &:focus
      color: $text-gray-1
      border-color: transparent
      background-color: transparent

for col in buttonColors
  .kc-button--plain.kc-button--{col}
    bg = buttonColors[col]["background"]
    c = buttonColors[col]["color"]
    dark = buttonColors[col]["darken"] + '%'
    color: bg
    &:hover, &:focus
      color: darken(bg, dark)
      border-color: darken(bg, dark)
      background-color: transparent
