/* LEGACY: Keyhole Branding */
$blue = #00aced
$dark-blue = #34495e
$ghost-blue = #576B80
$gray = #EAEFF3
$dark-gray = #4f4f4f
$primary = $blue

/* Secondary Colors */
$mid-blue = #D5E5F2

/* Typography */
$text-default = #333333
$text-mid = #828282
$inactive = #BDBDBD
$quote = #9e9e9e

/* Buttons and Backgrounds */
$delete = #E33D3D
$light-grey = #f6f6f6

$green = #22bd77
$dark-green = darken($green, 5%)
$light-green = lighten($green, 5%)
$old-green = #92d626 // Obnoxious CTAs

$yellow = #FFB733
$dark-yellow = darken($yellow, 5%)
$light-yellow = lighten($yellow, 5%)

$orange = #FF902E

/* Currently used on trends page, used for differentiating multiple things. */
$secondary-blue = #2980b9
$secondary-yellow = $yellow
$secondary-green = #047878
$secondary-red = #c0392b
$secondary-orange = #F57336

/* Social Branding */
$fb-blue = #3b5998
$facebook-blue = #3b5998
$twitter-blue = #4099ff
$instagram-blue = #125688
$instagram-purple = #BC2A8D
$youtube-red = #e52d27
$news-gray = #555
$blogs-yellow = $yellow
$forums-green = $secondary-green

/* Modal Colors */
$modal-yellow = $light-yellow
$modal-green = $light-green
$modal-blue = #6BB9F0

$white = #fff
$black = #000

/* NEW: Keyhole Branding */
$yellow = #FFD433

$dark-blue = #26293C
$white = #FFFFFF

$warm-gray-1 = #E0CEBD
$warm-gray-2 = #B2A090

$light-blue = #C6E1ED
$purple = #782C4A
$light-pink = #FFD3D4
$orange = #FF582C
$light-green = #B2D9A6
$green = #00B753
