@import '../../_styl/vars/*.styl'

.kc-header
  background-color: $yellow
  color: $dark-blue
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 1em
  padding-right: 0
  height: 60px
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 100
  font-size: 1em
  transition: 300ms ease-in-out
  @media (max-width: 800px)
    position: relative


.kc-header__nav
  display: flex
  margin-right: auto
  margin-left: 3em
  @media (max-width: 800px)
    display: none
.kc-header__navLink
  position: relative
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  color: rgba($white, .5)
  padding: 0 1rem
  font-weight: 600
  text-transform: uppercase
  letter-spacing: 1px
  font-size: .8em
  line-height: 1.5
  transition: 300ms ease-in-out
  &:after
    content: ''
    position: absolute
    left: 0
    right: 0
    bottom: 0
    height: 3px
    background-color: transparent
    transition: 300ms ease-in-out
  &:hover
    background-color: rgba($white, .05)
    &:after
      background-color: rgba($white, .35)
  &.kc-header__navLink--active
    color: $white
    // background-color: rgba($white, .1)
    &:after
      background-color: rgba($white, .7)
  i.fa
    margin-right: .5em

.kc-button--upgrade
  margin: .85em 1rem
  text-align: center
  text-transform: uppercase
  font-size: .85em
  display: flex
  align-items: center
  justify-content: center
  font-weight: 600
  line-height: 1.5
  width: 100px
  @media (max-width: 800px)
    display: none
  &:hover
    color: $white
  i.fa
    margin-right: .5em

.kc-header__userBox
  position: relative
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  color: rgba($white, .8)
  padding: 0 1rem
  font-weight: 300
  font-size: .85em
  cursor: pointer
  transition: 300ms ease-in-out
  @media (max-width: 800px)
    display: none
  &:before
    content: ''
    position: absolute
    z-index: 2
    left: 0
    top: 1.5em
    bottom: 1.5em
    border-left: 1px solid rgba($white, .1)
    transition: 300ms ease-in-out
  &:hover, &.kc-header__userBox--open
    color: $white
    // background-color: darken($dark-blue, 10%)
    background-color: rgba($black, .1)
    i.fa
      color: $white
    &:before
      top: 0
      bottom: 0
  i.fa
    margin-left: .75em
    margin-top: .15em
    color: rgba($white, .5)
    transform-origin: center
    transform: rotate(0deg)
    transition: 300ms ease-in-out
  &.kc-header__userBox--open
    i.fa
      transform: rotate(180deg)

.kc-header__userBoxDropdown
  position: absolute
  top: 100%
  right: 0
  left: 1px
  background-color: $dark-blue
  // background-color: #00aced
  border-top: 1px solid rgba($white, .1)
  display: flex
  flex-direction: column
  transform-origin: top
  transform: scaleY(0)
  transition: 300ms ease-in-out
  &.kc-header__userBoxDropdown--open
    transform: scaleY(1)
  .kc-header__userBoxDropdownLink
    color: $white
    line-height: 1.5
    text-align: left
    padding: .75rem 1rem
    padding-bottom: 0
    &:last-child
      padding-bottom: .75rem
    &:hover
      text-decoration: underline

.kc-header.kc-header--scrolled
  @media (min-width: 800px)
    height: 32px
    .kc-header__logo
      height: 20px
    .kc-button--upgrade
      font-size: .75em
      margin: .4em 1rem
      padding: .2em
    .kc-header__userBox
      &:before
        top: .5em
        bottom: .5em
      &:hover
        &:before
          top: 0
          bottom: 0

.kc-header.kc-header--hidden
  transform: translateY(-100%)