// Tiempos Headline
@font-face
  font-family: 'Tiempos Headline'
  src: url('https://cdn.keyhole.co/branding/fonts/TiemposHeadline-Bold.eot') // IE9 Compat Modes
  src: url('https://cdn.keyhole.co/branding/fonts/TiemposHeadline-Bold.eot?#iefix') format('embedded-opentype'), url('https://cdn.keyhole.co/branding/fonts/TiemposHeadline-Bold.woff2') format('woff2'), url('https://cdn.keyhole.co/branding/fonts/TiemposHeadline-Bold.woff') format('woff')
  font-weight: 700
  font-style: normal
@font-face
  font-family: 'Tiempos Headline'
  src: url('https://cdn.keyhole.co/branding/fonts/TiemposHeadline-Bold.eot') // IE9 Compat Modes
  src: url('https://cdn.keyhole.co/branding/fonts/TiemposHeadline-Bold.eot?#iefix') format('embedded-opentype'), url('https://cdn.keyhole.co/branding/fonts/TiemposHeadline-Bold.woff2') format('woff2'), url('https://cdn.keyhole.co/branding/fonts/TiemposHeadline-Bold.woff') format('woff')
  font-weight: 800
  font-style: normal
@font-face
  font-family: 'Tiempos Headline'
  src: url('https://cdn.keyhole.co/branding/fonts/TiemposHeadline-Bold.eot') // IE9 Compat Modes
  src: url('https://cdn.keyhole.co/branding/fonts/TiemposHeadline-Bold.eot?#iefix') format('embedded-opentype'), url('https://cdn.keyhole.co/branding/fonts/TiemposHeadline-Bold.woff2') format('woff2'), url('https://cdn.keyhole.co/branding/fonts/TiemposHeadline-Bold.woff') format('woff')
  font-weight: 900
  font-style: normal

// Quicksand
@font-face
  font-family: 'Quicksand'
  src: url('https://cdn.keyhole.co/branding/fonts/Quicksand-Light.woff2') format('woff2'), url('https://cdn.keyhole.co/branding/fonts/Quicksand-Light.woff') format('woff')
  font-weight: 100
  font-style: normal
@font-face
  font-family: 'Quicksand'
  src: url('https://cdn.keyhole.co/branding/fonts/Quicksand-Light.woff2') format('woff2'), url('https://cdn.keyhole.co/branding/fonts/Quicksand-Light.woff') format('woff')
  font-weight: 200
  font-style: normal
@font-face
  font-family: 'Quicksand'
  src: url('https://cdn.keyhole.co/branding/fonts/Quicksand-Light.woff2') format('woff2'), url('https://cdn.keyhole.co/branding/fonts/Quicksand-Light.woff') format('woff')
  font-weight: 300
  font-style: normal
@font-face
  font-family: 'Quicksand'
  src: url('https://cdn.keyhole.co/branding/fonts/Quicksand-Regular.woff2') format('woff2'), url('https://cdn.keyhole.co/branding/fonts/Quicksand-Regular.woff') format('woff')
  font-weight: 400
  font-style: normal
@font-face
  font-family: 'Quicksand'
  src: url('https://cdn.keyhole.co/branding/fonts/Quicksand-Medium.woff2') format('woff2'), url('https://cdn.keyhole.co/branding/fonts/Quicksand-Medium.woff') format('woff')
  font-weight: 500
  font-style: normal
@font-face
  font-family: 'Quicksand'
  src: url('https://cdn.keyhole.co/branding/fonts/Quicksand-Medium.woff2') format('woff2'), url('https://cdn.keyhole.co/branding/fonts/Quicksand-Medium.woff') format('woff')
  font-weight: 600
  font-style: normal
@font-face
  font-family: 'Quicksand'
  src: url('https://cdn.keyhole.co/branding/fonts/Quicksand-Bold.woff2') format('woff2'), url('https://cdn.keyhole.co/branding/fonts/Quicksand-Bold.woff') format('woff')
  font-weight: 700
  font-style: normal
@font-face
  font-family: 'Quicksand'
  src: url('https://cdn.keyhole.co/branding/fonts/Quicksand-Bold.woff2') format('woff2'), url('https://cdn.keyhole.co/branding/fonts/Quicksand-Bold.woff') format('woff')
  font-weight: 800
  font-style: normal
@font-face
  font-family: 'Quicksand'
  src: url('https://cdn.keyhole.co/branding/fonts/Quicksand-Bold.woff2') format('woff2'), url('https://cdn.keyhole.co/branding/fonts/Quicksand-Bold.woff') format('woff')
  font-weight: 900
  font-style: normal

// Font Mixins
font-body()
  font-family: 'Quicksand', Helvetica, Arial, sans-serif
  font-weight: 500

font-body-light()
  font-family: 'Quicksand', Helvetica, Arial, sans-serif
  font-weight: 400

font-heading()
  font-family: 'Tiempos Headline', Georgia, 'Times New Roman', Times, serif
  font-weight: 700