// Variables
@import './_vars/_colors.styl'
@import './_vars/_fonts.styl'

// Base
*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
  text-rendering: geometricPrecision
  -moz-font-smoothing: antialiased

html, body
  font-body()
  font-size: 16px
  font-weight: 500

h1, h2, h3, h4, h5, h6
  font-heading()

// Atoms
@import './atoms/Button/_button.styl'
@import './atoms/ColorBlock/_colorBlock.styl'
@import './atoms/ProfilePicture/_profilePicture.styl'

// Molecules

// Organisms

// Templates