.kc-profilePicture
  position: relative
  display: inline-block
  font-size: 1em
  img
    position: relative
    background-color: #f2f2f2
    border: 1px solid #e0e0e0
    width: 3em
    height: 3em
    display: flex
    justify-content: center
    align-items: center
    border-radius: 4px
    color: #444
    object-fit: cover
  &:not(.kc-profilePicture--error):after
    font-family: 'Font Awesome 5 Brands'
    justify-content: center
    align-items: center
    position: absolute
    top: -16px
    right: -17px
    width: 30px
    height: 30px
    display: flex
    font-size: 9px
    border-radius: 50%
    color: $white
    line-height: normal
    font-weight: 900
    border: 1px solid $white
  &.kc-profilePicture--twitter:after
    content: '\e61b'
    color: $twitter-blue
    border-color: $twitter-blue
    background-color: $white
  &.kc-profilePicture--instagram:after
    content: '\f16d'
    color: $instagram-purple
    border-color: $instagram-purple
    background-color: $white
  &.kc-profilePicture--youtube:after
    content: '\f167'
    color: $youtube-red
    border-color: $youtube-red
    background-color: $white
    padding-top: 2px
    font-size: 20px
  &.kc-profilePicture--facebook:after
    content: '\f39e'
    color: $facebook-blue
    border-color: $facebook-blue
    background-color: $white
  &.kc-profilePicture--tiktok:after
    content: '\e07b'
    color: $tiktok-pink
    border-color: $tiktok-pink
    background-color: $white
  &.kc-profilePicture--linkedin:after
    content: '\f0e1'
    color: $linkedin-blue
    border-color: $linkedin-blue
    background-color: $white
  &.kc-profilePicture--news:after
    content: '\f1ea'
    color: $news-gray
    border-color: $news-gray
    background-color: $white
    font-family: 'Font Awesome 5 Pro'
  &.kc-profilePicture--blogs:after
    content: '\f09e'
    color: $blogs-yellow
    border-color: $blogs-yellow
    background-color: $white
    font-family: 'Font Awesome 5 Pro'
  &.kc-profilePicture--forums:after
    content: '\f086'
    color: $forums-green
    border-color: $forums-green
    background-color: $white
    font-family: 'Font Awesome 5 Pro'
  &.kc-profilePicture--error
    img
      display: none
    &:after
      font-family: 'Font Awesome 5 Brands'
      justify-content: center
      align-items: center
      display: flex
      font-size: 1.5em
      padding: .15em
      background-color: transparent
    &.kc-profilePicture--twitter:after
      content: '\e61b'
      color: $twitter-blue
    &.kc-profilePicture--instagram:after
      content: '\f16d'
      color: $instagram-purple
    &.kc-profilePicture--youtube:after
      content: '\f167'
      color: $youtube-red
    &.kc-profilePicture--facebook:after
      content: '\f39e'
      color: $facebook-blue
    &.kc-profilePicture--tiktok:after
      content: '\e07b'
      color: $tiktok-pink
    &.kc-profilePicture--news:after
      content: '\f1ea'
      color: $news-gray
      font-family: 'Font Awesome 5 Pro'
    &.kc-profilePicture--blogs:after
      content: '\f09e'
      color: $blogs-yellow
      font-family: 'Font Awesome 5 Pro'
    &.kc-profilePicture--forums:after
      content: '\f086'
      color: $forums-green
      font-family: 'Font Awesome 5 Pro'
    &.kc-profilePicture--brand:after
      content: '\f005'
      color: $gray
      font-family: 'Font Awesome 5 Pro'
    &.kc-profilePicture--gray
      &.kc-profilePicture--twitter,
      &.kc-profilePicture--instagram,
      &.kc-profilePicture--youtube,
      &.kc-profilePicture--facebook,
      &.kc-profilePicture--tiktok,
      &.kc-profilePicture--news,
      &.kc-profilePicture--blogs,
      &.kc-profilePicture--forums
        &::after
          color: $gray
